@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary: #f3c614;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #f3c614;
	}
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

@layer base {
	html {
		@apply text-gray-900;
	}
	section {
		@apply py-24 sm:py-32;
	}
	:root {
		--radius: 0.5rem;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
