@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

:root {
	--primary: #f3c614;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: #f3c614;
	}
}

.font-rubik {
	font-family: "Rubik", sans-serif;
}

@layer base {
	html {
		@apply text-gray-900;
	}
	section {
		@apply py-24 sm:py-32;
	}
	:root {
		--radius: 0.5rem;
	}
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
